/**
 * Site header
 */
header#section-header {
 width: 100%;
 div.zone-branding-wrapper {
   width: 940px;
   margin: auto;
 }
 div#zone-menu-wrapper {
   width: 100%;
   background: #cccccc;
   background-image: linear-gradient(#ffffff, #cccccc);
 }
 div.zone-menu {
   width: 940px;
   margin: auto;
 }
 div.zone-branding {
   font-family: "Didact Gothic" !important;
   font-size: 150%;
   font-weight: 400;
   padding-left: 2em;
   h1 {
     margin-bottom: 0em;
   }
 }
 background: #fe8;
 background-image: linear-gradient(#ffffff, #ffee88 90%, #ffff00);
 span.toggler {
   display: none;
 }
 .element-invisible {
   display: none;
 }
 ul {
   li {
     list-style-type: none;
     display: inline;
     padding: 0 1em 0 1em;
       &:hover {
         background: #ff9900;
       }
     a {
       text-decoration: none;
     } 
   }
 }
}
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    clear: both;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

