
/**
 * Posts
 */
.teaser-content {
  img {
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
    height: 10em;
  }
}
div.tags {
  clear: both;
}
.teaser, .rss-subscribe {
  padding-top: 40px;
  clear: both;
  //background: orange;
}
.user-picture {
  img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    float: left;
    margin-left: -95px;
    margin-top: -85px;
  }
}

.home ul.post-list li, hr {
  clear: both;
}
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.page-content {
  margin-top: 0px;
}
.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
